*/Debug/*
.jxbrowser-data/*
.metadata/*
RemoteSystemsTempFiles/*
/.metadata/
*/.gitignore
*/.settings/*
*/.launches/*

# eagle files
*.s#*
*.b#*
*.l#*
*.job

# ltspice
*.fft
*.imp
*.log
*.op.raw
*.raw
