#CCS (hopefully)
/jxbrowser-data/*
RemoteSystemTempFiles/*
*/Debug/*
Code/.jxbrowser-data/*
Code/.metadata/*
Code/RemoteSystemsTempFiles/*
/.metadata/
*/.gitignore
Code/*/.gitignore
Code/*/.settings/*
Code/*/.launches/*

# eagle files
*.s#*
*.b#*
*.l#*
*.job

# ltspice
*.fft
*.imp
*.log
*.op.raw
*.raw
